<div id="<%= dom_id menu %>">
  <p>
    <strong>Food name:</strong>
    <%= menu.food_name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= menu.origin %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= menu.ingredients %>
  </p>

</div>
